name: unit_tests

env:
  JULIA_NUM_THREADS: 4

on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: ['1.10', '1.11', '1.12']
        julia-arch: [x64]
        os: [ubuntu-latest]
        backend:
          - { container: "ubuntu:24.04",                                     cpu: "1", kacpu: "0", cuda: "0", amdgpu: "0", oneapi: "0", metal: "0" }
          - { container: "ubuntu:24.04",                                     cpu: "0", kacpu: "1", cuda: "0", amdgpu: "0", oneapi: "0", metal: "0" }
          # large runners with gpu hardware cost money
          #- { container: "nvidia/cuda:12.9.1-devel-ubuntu24.04",             cpu: "0", kacpu: "0", cuda: "1", amdgpu: "0", oneapi: "0", metal: "0" }
          #- { container: "rocm/dev-ubuntu-24.04:6.4.2",                      cpu: "0", kacpu: "0", cuda: "0", amdgpu: "1", oneapi: "0", metal: "0" }
          #- { container: "intel/oneapi-hpckit:2025.2.0-0-devel-ubuntu24.04", cpu: "0", kacpu: "0", cuda: "0", amdgpu: "0", oneapi: "1", metal: "0" }

    #container:
    #  image: ${{matrix.backend.container}}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Julia environment
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
          arch: ${{ matrix.julia-arch }}

      - name: Add Julia cache
        uses: julia-actions/cache@v2

      - name: Instantiate
        run: |
          julia --project=./ -e 'using Pkg; Pkg.instantiate()'
          echo "TEST_CPU=${{ matrix.backend.cpu }}" >> $GITHUB_ENV
          echo "TEST_KACPU=${{ matrix.backend.kacpu }}" >> $GITHUB_ENV
          echo "TEST_CUDA=${{ matrix.backend.cuda }}" >> $GITHUB_ENV
          echo "TEST_AMDGPU=${{ matrix.backend.amdgpu }}" >> $GITHUB_ENV
          echo "TEST_ONEAPI=${{ matrix.backend.oneapi }}" >> $GITHUB_ENV
          echo "TEST_METAL=${{ matrix.backend.metal }}" >> $GITHUB_ENV

      - name: Run tests
        uses: julia-actions/julia-runtest@v1

      - name: Process code coverage
        uses: julia-actions/julia-processcoverage@v1

      - name: Upload code coverage
        uses: codecov/codecov-action@v4
        with:
          files: ./lcov.inf
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
